
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: white;
  line-height: 1.6;
}

.lg-container {
  background: hsl(257, 42%, 49%) url(../images/bg-mobile.svg) no-repeat;
  background-size: contain;
  text-align: center;
  padding: 50px;
  max-width: 1200px;
}

.logo-wrapper {
  text-align: left;
}

.logo {
  height: 2rem;
}

.mock-img {
  width : 100%;
  margin: 40px 0;
}

.heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.btn-wrapper {
  margin: 20px 0 60px;
}

.register-btn {
	box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2);
	background-color: #ffffff;
	border-radius: 1.2rem;
  border-style: none;
	display: inline-block;
	cursor: pointer;
	color: hsl(257, 42%, 49%);
	font-size: 0.8rem;
	padding:0.7rem 60px;
  min-width: 150px;
	text-decoration:none;
}

.register-btn:hover {
	background-color:#f6f6f6;
}
.register-btn:active {
	position:relative;
	top:1px;
}

.circle{
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 1px #ffffff;
  text-align:center;
  line-height: 30px;
  vertical-align: middle;
  margin: 3px;
}

@media screen and (min-width: 960px) {
  html {
    font-size: 130%;
  }

  body {
    background: hsl(257, 42%, 49%) url(../images/bg-desktop.svg) no-repeat;
    width: 100%;
  }

  .lg-container {
    background: none;
    text-align: left;
  }

  .mock-img {
    width : 50%;
    float: left;
    margin-right: 70px;
  }

  .text-wrapper {
    overflow: auto;
    padding-top: 60px;
  }

  .heading {
    width: 80%;
    max-width: 400px;
  }

  .content {
    max-width: 500px;
    font-size: 0.8rem;
  }
  .sns-icons {
    clear: both;
    text-align: right;
  }

}
